
body {
    display: block;
    color: #212529;
}

#main-image {
    border-bottom: 1px solid #95abadb3;
    height: auto;
    /*background: url(../../images/concrete-wall-1920x1080.png) fixed no-repeat center;*/
    position: relative;
    z-index: 16;
    background: -moz-linear-gradient(rgb(54, 71, 89), rgb(166, 154, 140));
}

#main-image:after { /* add the transparent pattern overlay */
    background: #39464b /*url(images/see-through-pattern-background-2.png) center repeat*/;
    content: "";
    background: #f6f3f3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /*opacity: 0.7;*/
    z-index: -1;
}

.section {
    /*background-color: white;*/
    padding: 20px;
    background-color: #fff;
}

.h1, h1 {
    font-size: 2.0rem;
}

h3, h4 {
    padding: 20px 0 20px 0;
}

h1, h2, h3, h4 {
    letter-spacing: 5px !important;
    font-weight: 400;
}

.card h1, .card h2, .card h3, .card h4 {
    text-align: center;
}

h1 a.navbar-brand {
    font-size: 2.5rem;
}
.card {
    border: none;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.19);
    border-radius: 0;

}
.card ul {
    list-style: none;
    padding-left: 0;
}
.card li a{
    color: #546e7a;
}
.card li {
    padding: 10px;
    /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);*/
    margin-bottom: 25px;
    /*border: 1px solid lightgray;*/
    color: #000000;
}

.card li.halle {
    /*border-left: 1px solid #199c18;*/
    border-bottom: 1px solid #199c18;
}

.card li.cross {
    /*border-left: 1px solid #562b0e;*/
    border-bottom: 1px solid #562b0e;
}

.card li.bahn {
    /*border-left: 1px solid #ff9223;!**!*/
    border-bottom: 1px solid #ff9223;
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
hr.halle {
    border: 1px solid #199c18;
}

hr.cross {
    border: 1px solid #562b0e;
}

hr.bahn {
    border: 1px solid #ff9223;
}

.entry_tags{
    display: inline-block;
    background: #ebebeb;
    color: #444;
    font-size: 10px;
    letter-spacing: 2px;
    padding: 2px 5px;
    margin-right: 3px;
    transition: color 0.18s ease, background-color 0.18s ease, border-color 0.18s ease;
    outline: none;
    color: #161616;
    text-decoration: none;
}

i.fa-li {
    padding-top: 2px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}



h1 a:hover {
    color: #fff !important;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

div.info a:hover {
    color: #007bff;
    text-decoration: none;
    border-bottom: 1px solid #007bff;
}

header {
    border-bottom: 1px solid white;
}

header a {
    color: white;
}

/* Main marketing message and sign up button */
.jumbotron {

    background-color: transparent;
}

a.header {
    color: white;
}

a:hover {
    color: #007bff;
}

.nav-filter {
    background-color: #444;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #ff5722 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff
}

.navbar-nav {
    padding-right: 50px;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #fff !important;
    text-decoration: underline;
}

.header h1 {
    letter-spacing: 12px;
}

nav.background {
    background: #ccc url('../../images/200m1_slim.jpg');
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.19);

    background-size: cover;
    z-index: 16;
}

nav.background:after { /* add the transparent pattern overlay */
    /*background: #010203 !*url(images/see-through-pattern-background-2.png) center repeat*!;*/
    /*background-color: #2b80d5;*/
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /*opacity: 0.3;*/
    z-index: -1;
}

.navbar-toggler {
    background: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
}
li a {
    color:#284462;
}
li.nav-item {
    margin-right: 30px;
    /*background-color: #FF5722;*/
    border-radius: .25rem;
}

.table thead td {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    text-align: inherit;
    display: table-cell;
    font-weight: bold;
    padding: 1px;
}

.pages_table table td, .pages_table table th {
    border-top: none;
}

.desc_type, time {
    font-weight: 400;
}

.desc {
    font-weight: 100;
    font-size: smaller;
    letter-spacing: 2px;
}

p {
    margin-bottom: 0.2rem;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
    box-shadow: none;
}

.list-group-horizontal .list-group-item {
    margin: 4px;
    border-radius: 0;
}
