body {
    padding-top: 20px;
    font-family: "Source Sans Pro",sans-serif;
    background: #ccc url('../../images/32mKB.jpg') no-repeat fixed top center;
    background-size: cover;
}
.section {
    background-color: snow;
    padding:20px;
}
h3, h4{
    padding: 20px 0 20px 0;
}
i.fa-li {
    padding-top:2px;
}
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}
a.nav-link{
    color: #fff;
}
a {
    color: rgb(2, 150, 98);
}
a:hover {
    color: rgb(2, 150, 98);
}
header {
    border-bottom: 1px solid white;
}
header a {
    color: white;
}
/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

h1, h2, h3,h4{
    font-weight:200;
}
h1 a.navbar-brand {
    font-size: 2.5rem;
}
a.header   {
    color:white;
}
.navbar-toggler {
    background: white;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
li.nav-item
{
    margin-right: 30px;
}
.background {
   background: #2c9c78;
}
.table thead td{
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    text-align: inherit;
    display: table-cell;
    font-weight: bold;
    padding: 1px;
}
.pages_table table td, .pages_table table th{
    border-top:none;
}