body{
	width: 650px;
}

table.body{
	width: 650px;
	border: 0px;
}

table.details{
	border: 0px;
}

table.fill{
	width: 100%;
	border: 0px;
}

td{
	padding: 0px;
}

td.tdMBar{
	background: Navy;
	padding-left: 6px;
}

td.tdMBarA{
	background: Navy;
	text-align: left;
	padding-left: 6px;
	background-color: #4682B4;
}

th{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	background-color: Navy;
	color: White;
	padding: 0px;
}

A.menubar:link, A.menubar:visited, A.menubar:active{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
}

A.menubar:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFD700;
}

a.menu:link, a.menu:visited{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: White;
	font-size: 11px
}

A.menu:hover, A.menu:active{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #FFD700;
}


a.seltec:link, a.seltec:visited{
	font-size:28px;
	text-decoration: none;
	color: Navy;
}
 
a.seltec:hover, a.seltec:active{
	font-size:28px;
	text-decoration: none;
	color: #FFD700;
}

td.h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	border-top: 1px solid Navy;
	border-bottom: 1px solid Navy;
	color: Navy;
	padding: 0px;
}

td.h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	border-top: 1px solid Navy;
	border-bottom: 1px solid Navy;
	color: Navy;
	padding: 0px;
	width: 200px;
}

p.ev1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	width: 650px;
}

span.ev2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

p.c1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	padding-left: 2px; 
	color: Navy;
}

td.ht1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	padding-left: 2px; 
	color: Navy;
}

td.ht2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	padding-right: 2px;
	color: Navy;
}

.hdPos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 30px;
	padding: 0px;
}

.hdBIB{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

td.hdBIB{
	background-color: #FFD700;
}

.hdName{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

.hdYOB{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 50px;
}

.hdNat{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

.hdTeam{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

.hdEvent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	width: 100px;
	padding-left: 5px;
}

.hdClub{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

.hdPerf{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 59px;
}

.hdPts{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

.hdMark{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 30px;
}

.hdEval{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	color: White;
	background-color: Navy;
	width: 50px;
	border-right: 1px white solid;
}

.hdPos2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 30px;
}

td.hdPos2{
		background-color: #DCDCDC;
}


.hdBIB2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

td.hdBIB2{
		background-color: #FFD700;
}

.hdName2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

td.hdName2{
		background-color: #DCDCDC;
}

.hdYOB2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 50px;
}

td.hdYOB2{
		background-color: #DCDCDC;
}

.hdNat2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

td.hdNat2{
		background-color: #DCDCDC;
}

.hdTeam2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

td.hdTeam2{
		background-color: #DCDCDC;
}

.hdEvents{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
	width: 100px;
}


td.hdEvents2{
		background-color: #DCDCDC;
}
.hdEvents2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
	
}

.hdClub2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

td.hdClub2{
		background-color: #DCDCDC;
}

.hdPerf2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 59px;
}

td.hdPerf2{
		background-color: #DCDCDC;
}

.hdPts2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 40px;
}

td.hdPts2{
		background-color: #DCDCDC;
}

.hdMark2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	width: 30px;
}

td.hdMark2{
		background-color: #DCDCDC;
}

td.ft1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
	width: 300px;
}

td.ft2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
}

.th2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: Navy;
	color: White;
	padding: 0px;
	width: 24px;
	text-align: center;
}

.th3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	background-color: Navy;
	color: White;
	padding: 0px;
	width: 80px;
	text-align: center;
}

.hdDet{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding: 0px;
}

.td2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 24px;
}

.td3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 80px;
}

.hdDet2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	background-color: #DCDCDC;
}

.td22{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 24px;
	background-color: #DCDCDC;
	border-right: 1px solid white;
}

.td32{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 80px;
	background-color: #DCDCDC;
	border-right: 1px solid white;
}

.hdl{
	text-align: left;
	padding: 0px;
}

.tdEval{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 50px;
}

.tdEval2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 50px;
	background-color: #DCDCDC;
	border-right: 1px solid white;
}

.tdTPos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding: 0px;
}

.tdTBIB{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 40px
}

.tdTEvent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding-left: 6px;
	width: 100px
}

.tdTName{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

.tdTYOB{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 50px
}

.tdTNation{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 40px
}
.tdTPerf{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 59px
}
.tdTWind{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 30px
}
.tdTPts{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 40px
}
.tdTMark{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 30px
}

.tdTPos2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	background-color: #DCDCDC;
}

.tdTBIB2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}

.tdTEvent2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding-left: 6px;
	background-color: #DCDCDC;
}

.tdTName2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
	background-color: #DCDCDC;
}

.tdTYOB2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}

.tdTNation2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}
.tdTPerf2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}
.tdTWind2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}
.tdTPts2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}
.tdTMark2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	background-color: #DCDCDC;
}


div.menu{
	display: none;
	white-space: nowrap;
	position: absolute;
	padding: 4px;
	width: 100px;
	background-color: Navy;
	border: 1px solid white;
}

div.menuA{
	display: none;
	white-space: nowrap;
	position: absolute;
	padding: 4px;
	width: 100px;
	background-color: #4682B4;
	border: 1px solid white;
}

.tdDet{
	font-size: 10px;
}

.tdDet2{
	font-size: 10px;
	background-color: #DCDCDC;
}

td.s1w{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 60px;
	background-color: #FA8072;
}

td.s2w{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	width: 230px;
	background-color: #FA8072;
}

td.s3w{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	width: 30px;
	background-color: #FA8072;
}

td.s1m{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	padding: 0px;
	width: 60px;
	background-color: #87CEFA;
}

td.s2m{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	width: 230px;
	background-color: #87CEFA;
}

td.s3m{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding: 0px;
	width: 30px;
	background-color: #87CEFA;
}

.schheader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
	padding-left: 5px;
}

.ivwheader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	padding-left: 5px;
	background-color: Navy;
	color: White;
}

.ivw{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align: left;
}
