/* Your custom styles */
body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-size: 14px;
}
html {
    font-family: Roboto, Arial, sans-serif;
}
.navbar {
    background-color: #243a51;
}
p {
    margin-bottom:0;
}
.desc_type {
    font-weight:400;
}
.red_font {
    font-weight:400;
    color:red;
}
.nav-item{
    padding-right: 70px;
}
.navbar .dropdown-menu a {
    font-size: 14px;
}
.navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}
.navbar-toggle {
    border: 1px solid white;
}
.icon-bar {
    border: 1px solid white;
}
li {
    list-style: none;
}
.navbar-nav > li > a {
   color: #ffffff;
}

.navbar .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar-brand {
    padding-bottom: 10px;
}
table.table th, table.table td {
font-size:14px;

}
table.table th {
    font-weight: 400;
}
.btn, .form-control {
    font-size: 14px;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #0b99f3;
}